<div class="user">
    <input type="text" name="user" placeholder="Ingrese su nombre">
    <input type="text" name="msj" id="message">

</div>

<div class="container cajaMensajes"></div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>