<div>
    <h1>Perfil</h1>
    <h2>Nombre: {{user}}</h2>
    rol: {{rol}}
    <form action="/auth/logout" method="get">
        <input class="btn btn-danger" type="submit" value="Cerrar sesión">
    </form>
</div>