<div class="m-2">
    <form action="/auth/register" method="post" >
    <div class="d-flex flex-column gap-2">
        <div>        
        <label for="first_name">first_name</label>
        <input type="text" name="first_name"></div>
        <div>
        <label for="last_name">last_name</label>
        <input type="text" name="last_name"></div>
        <div>
        <label for="email">email</label>
        <input type="text" name="email"></div>
        <div>
        <label for="age">age</label>
        <input type="number" name="age"></div>
        <div>
        <label for="password">Password</label>
        <input type="text" name="password"></div>
    </div>
        <input type="submit" value="Register" class="btn btn-success">
    </form>    
</div>